# Sugestões 

> Há heterogeneidade na relação entre condições de saúde e fatores de risco às doenças não transmissíveis (ex: tabagismo, alcool, sedentarismo) entre as unidades da federação brasileira? O que pode explicar essas diferenças?

> Que características influenciam os hábitos do adolescentes

> **É possível predizer com determinado nível de confiança a idade em que o estudante fará a experimentação de bebidas alcoolicas ou o uso de drogas?**

# Projeto Módulo 3 
---

# Resumo

---

# Pontos Principais

---

## Pre processamento
---

## Importações Dados e  Bibliotecas

Fazer a limpeza dos dados antes e upar no github

In [10]:
import pandas as pd
import numpy as np 
import seaborn as sns

from matplotlib import pyplot as plt

In [11]:
from zipfile import ZipFile
zip_file = ZipFile('./dados/PeNSE_2015_AMOSTRA2.zip')
for arquivo in zip_file.namelist():
    print(arquivo)

arquivos csv/
arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV
arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV
arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV
arquivos sas/
arquivos sas/pense_amostra2_aluno.sas7bdat
arquivos sas/pense_amostra2_alunoescola.sas7bdat
arquivos sas/pense_amostra2_escola.sas7bdat
arquivos xlsx/
arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx
arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx
arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx
Dicionario_PENSE_Microdados_AMOSTRA2.xls

In [17]:
dados = pd.read_csv(zip_file.open('arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'), sep=';', thousands='.',decimal=',')

### Pre processamento do dados

In [13]:
selecao = {
           'REGEOGR':'Região geográfica',
           'VB01001':'sexo',
           'VB01002':'cor',
           'VB01022':'turno',
           'VB01008A':'escolaridade mae',
           'VB04002':'idade quando experimentou cigarro',
           'VB04006A':'responsáveis fuma',
           'VB05002':'usou bebida alcoolica',
           'VB05003':'idade quando tomou a primeira dose de bebida alcoólica',
           'VB07010':'sofreu bullying',
           'VB12001':'frequência com que se sente só',
           'VB12003':'Quantos amigos próximos',
           'VB13005':'como classifica o proprio estado de saúde',
           'VB11006':'considera sua imagem corporal como sendo algo',
           'VB11007':'como se sente em relação ao seu corpo',
           'VB17003':'peso do aluno',
           'VB17004':'altura do aluno',
           'VB17006':'estado nutricional do estudante',
           'V0006':'Situação da escola',
           'V0007':'Dependência Administrativa da escola',
           'V0008':'Esfera Administrativa da escola'
          }

dados_selecionados = dados[selecao.keys()]
dados_selecionados.columns = [i.replace(' ', '_').lower() for i in selecao.values()]



regeogr = {1:'Norte',
          2:'Nordeste',
          3:'Sudeste',
          4:'Sul',
          5:'Centro-Oeste'
         }

sexo = {1: 'Masculino',2: 'Feminino'}
cor = {1:'Branca',2:'Preta',3:'Amarela',4:'Parda',5:'Indígena',99:'Não informado'}
turno = {1: 'Manhã',2: 'Intermediário',3: 'Tarde',4: 'Noite',5: 'Integral',99: 'Não informado'}

escolaridade_mae = {
    1: 'Minha mãe não estudou',
    2: 'Minha mãe começou o ensino fundamental ou 1º grau, mas não terminou',
    3: 'Minha mãe terminou o ensino fundamental ou 1º grau',
    4: 'Minha mãe começou o ensino médio ou 2º grau, mas não terminou',
    5: 'Minha mãe terminou o ensino médio ou 2° grau',
    6: 'Minha mãe começou a faculdade (ensino superior), mas não terminou',
    7: 'Minha mãe terminou a faculdade (ensino superior)',
    8: 'Não sei',
    99: 'Não informado'
}


idade_quando_experimentou_cigarro = {
    -1:'Pulo no questionário',
    7:'7 anos ou menos',
    8:'8 anos',
    9:'9 anos',
    10:'10 anos',
    11:'11 anos',
    12:'12 anos',
    13:'13 anos',
    14:'14 anos',
    15:'15 anos',
    16:'16 anos',
    17:'17 anos',
    18:'18 anos ou mais',
    99:'Não informado'
}

responsaveis_fuma = {
    -1: 'Pulo no questionário',
    1: 'Nenhum deles',
    2: 'Só meu pai ou responsável do sexo masculino',
    3: 'Só minha mãe ou responsável do sexo feminino',
    4: 'Meu pai e minha mãe ou responsáveis',
    5:'Não sei',
    99:'Não informado'
}
usou_bebida_alcoolica = {
    -1: 'Pulo no questionário',
    1: 'Sim',
    2: 'Não',
    99:'Não informado'
}

idade_quando_tomou_primeira_dose_bebida_alcoólica = {
    -1:'Pulo no questionário',
    7:'7 anos ou menos',
    8:'8 anos',
    9:'9 anos',
    10:'10 anos',
    11:'11 anos',
    12:'12 anos',
    13:'13 anos',
    14:'14 anos',
    15:'15 anos',
    16:'16 anos',
    17:'17 anos',
    18:'18 anos ou mais',
    99:'Não informado'
}

sofreu_bullying = {
    1: 'Sim',
    2: 'Não',
    3: 'Não sei o que é bullying',
    99:'Não informado'
}

frequência_com_que_se_sente_isolado = {
    1:'Nunca',
    2:'Raramente',
    3: 'Às vezes',
    4: 'Na maioria das vezes',
    5:'Sempre',
    99:'Não informado'
}
quantos_amigos_proximos = {
    1:'Nenhum amigo (0)',
    2: '1 amigo',
    3: '2 amigos',
    4: '3 ou mais amigos',
    99:'Não informado'
}
como_classifica_o_proprio_estado_de_saude = {
    1:'Muito bom',
    2: 'Bom',
    3: 'Regular',
    4: 'Ruim',
    5: 'Muito ruim',
    99: 'Não informado'
}
considera_sua_imagem_corporal_como_sendo_algo = {
    1:'Muito importante',
    2:'Importante',
    3:'Pouco importante',
    4:'Sem importância',
    99: 'Não informado'
}
como_se_sente_em_relação_ao_seu_corpo = {
    1: 'Muito satisfeito(a)',
    2: 'Satisfeito(a)',
    3: 'Indiferente',
    4:'Insatisfeito(a)',
    5:'Muito insatisfeito(a)',
    99:'Não informado'
}
peso_do_aluno = {}
altura_do_aluno = {}
estado_nutricional_do_estudante = {
    1: 'Deficit de peso',
    2: 'Eutrofia',
    3: 'Sobrepeso',
    4: 'Obesidade'
}

situacao_da_escola = {1:'Urbana', 2: 'Rural'}

dependencia_Administrativa_da_escola = {1:'Pública', 2:'Privada'}

esfera_Administrativa_da_escola = {1: 'Municipal',
                                   2: 'Estadual',
                                   3: 'Federal',
                                   4: 'Privada'}

tabelas_de_variaveis = [regeogr,sexo, cor, turno,escolaridade_mae,
                        idade_quando_experimentou_cigarro,
                        responsaveis_fuma,
                        usou_bebida_alcoolica,
                        idade_quando_tomou_primeira_dose_bebida_alcoólica,
                        sofreu_bullying,
                        frequência_com_que_se_sente_isolado,
                        quantos_amigos_proximos,
                        como_classifica_o_proprio_estado_de_saude,
                        considera_sua_imagem_corporal_como_sendo_algo,
                        como_se_sente_em_relação_ao_seu_corpo,
                        peso_do_aluno, altura_do_aluno,
                        estado_nutricional_do_estudante,
                        situacao_da_escola, dependencia_Administrativa_da_escola, 
                        esfera_Administrativa_da_escola]

dicionario_variaveis = {}
i = 0
for variavel in dados_selecionados.columns:
    dicionario_variaveis[str(variavel)] = tabelas_de_variaveis[i]
    i += 1

criando função para ajustar as tabelas:

> A função `cria_tabela_frequencia_percentuais`: Recebe uma `Series` para calcular o percentual e a frequência. Recebe os classificadores associados a cada frequência e o Rotudo da variável:

In [14]:
def cria_tabela_frequencia_percentuais(series : pd.Series , classificacoes : dict, rotulo : str ):
    percentual = series.value_counts(normalize=True) * 100
    frequencia = series.value_counts()
    
    tab1 = pd.DataFrame({'frequencia':frequencia,
                        'percentual':percentual})
    tab1.rename(index=classificacoes, inplace=True)
    tab1.rename_axis(index=rotulo, inplace=True)
    return tab1

## Classificadores dos Dados

In [15]:
for rotulo, variavel in dicionario_variaveis.items():
    dataframe = pd.DataFrame(variavel.keys(),index=variavel.values(), columns=[str(rotulo)])
    display(dataframe)

              região_geográfica
Norte                         1
Nordeste                      2
Sudeste                       3
Sul                           4
Centro-Oeste                  5

           sexo
Masculino     1
Feminino      2

               cor
Branca           1
Preta            2
Amarela          3
Parda            4
Indígena         5
Não informado   99

               turno
Manhã              1
Intermediário      2
Tarde              3
Noite              4
Integral           5
Não informado     99

                                                    escolaridade_mae
Minha mãe não estudou                                              1
Minha mãe começou o ensino fundamental ou 1º gr...                 2
Minha mãe terminou o ensino fundamental ou 1º grau                 3
Minha mãe começou o ensino médio ou 2º grau, ma...                 4
Minha mãe terminou o ensino médio ou 2° grau                       5
Minha mãe começou a faculdade (ensino superior)...                 6
Minha mãe terminou a faculdade (ensino superior)                   7
Não sei                                                            8
Não informado                                                     99

                      idade_quando_experimentou_cigarro
Pulo no questionário                                 -1
7 anos ou menos                                       7
8 anos                                                8
9 anos                                                9
10 anos                                              10
11 anos                                              11
12 anos                                              12
13 anos                                              13
14 anos                                              14
15 anos                                              15
16 anos                                              16
17 anos                                              17
18 anos ou mais                                      18
Não informado                                        99

                                              responsáveis_fuma
Pulo no questionário                                         -1
Nenhum deles                                                  1
Só meu pai ou responsável do sexo masculino                   2
Só minha mãe ou responsável do sexo feminino                  3
Meu pai e minha mãe ou responsáveis                           4
Não sei                                                       5
Não informado                                                99

                      usou_bebida_alcoolica
Pulo no questionário                     -1
Sim                                       1
Não                                       2
Não informado                            99

                      idade_quando_tomou_a_primeira_dose_de_bebida_alcoólica
Pulo no questionário                                                 -1
7 anos ou menos                                                       7
8 anos                                                                8
9 anos                                                                9
10 anos                                                              10
11 anos                                                              11
12 anos                                                              12
13 anos                                                              13
14 anos                                                              14
15 anos                                                              15
16 anos                                                              16
17 anos                                                              17
18 anos ou mais                                                      18
Não informado                                                        99

                          sofreu_bullying
Sim                                     1
Não                                     2
Não sei o que é bullying                3
Não informado                          99

                      frequência_com_que_se_sente_só
Nunca                                              1
Raramente                                          2
Às vezes                                           3
Na maioria das vezes                               4
Sempre                                             5
Não informado                                     99

                  quantos_amigos_próximos
Nenhum amigo (0)                        1
1 amigo                                 2
2 amigos                                3
3 ou mais amigos                        4
Não informado                          99

               como_classifica_o_proprio_estado_de_saúde
Muito bom                                              1
Bom                                                    2
Regular                                                3
Ruim                                                   4
Muito ruim                                             5
Não informado                                         99

                  considera_sua_imagem_corporal_como_sendo_algo
Muito importante                                              1
Importante                                                    2
Pouco importante                                              3
Sem importância                                               4
Não informado                                                99

                       como_se_sente_em_relação_ao_seu_corpo
Muito satisfeito(a)                                        1
Satisfeito(a)                                              2
Indiferente                                                3
Insatisfeito(a)                                            4
Muito insatisfeito(a)                                      5
Não informado                                             99

Empty DataFrame
Columns: [peso_do_aluno]
Index: []

Empty DataFrame
Columns: [altura_do_aluno]
Index: []

                 estado_nutricional_do_estudante
Deficit de peso                                1
Eutrofia                                       2
Sobrepeso                                      3
Obesidade                                      4

        situação_da_escola
Urbana                   1
Rural                    2

         dependência_administrativa_da_escola
Pública                                     1
Privada                                     2

           esfera_administrativa_da_escola
Municipal                                1
Estadual                                 2
Federal                                  3
Privada                                  4

## Distribuições de frequências e proporções

In [16]:
dataframes_com_percentuais_frequencias_variaveis = {}
for rotulo, variavel in dicionario_variaveis.items():
    dataframe = cria_tabela_frequencia_percentuais(dados_selecionados[rotulo], variavel, str(rotulo))
    #display(dataframe['frequencia'].plot(kind='bar'));
    display(dataframe)
    dataframes_com_percentuais_frequencias_variaveis[rotulo] = dataframe

                   frequencia  percentual
região_geográfica
Nordeste                 3465   20.928968
Centro-Oeste             3420   20.657164
Sudeste                  3276   19.787388
Sul                      3207   19.370621
Norte                    3188   19.255859

           frequencia  percentual
sexo
Masculino        8287   50.054361
Feminino         8269   49.945639

               frequencia  percentual
cor
Parda                6726   40.625755
Branca               6575   39.713699
Preta                1939   11.711766
Amarela               712    4.300556
Indígena              581    3.509302
Não informado          23    0.138922

               frequencia  percentual
turno
Manhã                9198   55.556898
Tarde                5362   32.387050
Noite                1258    7.598454
Integral              651    3.932109
Intermediário          83    0.501329
Não informado           4    0.024160

                                                    frequencia  percentual
escolaridade_mae
Não sei                                                   4168   25.175163
Minha mãe terminou a faculdade (ensino superior)          3099   18.718289
Minha mãe terminou o ensino médio ou 2° grau              2840   17.153902
Minha mãe começou o ensino fundamental ou 1º gr...        2735   16.519691
Minha mãe começou o ensino médio ou 2º grau, ma...        1011    6.106547
Minha mãe terminou o ensino fundamental ou 1º grau         991    5.985745
Minha mãe começou a faculdade (ensino superior)...         929    5.611259
Minha mãe não estudou                                      749    4.524040
Não informado                                               34    0.205364

                                   frequencia  percentual
idade_quando_experimentou_cigarro
Pulo no questionário                    13753   83.069582
14 anos                                   476    2.875091
13 anos                                   475    2.869050
15 anos                                   470    2.838850
12 anos                                   373    2.252960
16 anos                                   222    1.340904
10 anos                                   169    1.020778
11 anos                                   158    0.954337
7 anos ou menos                           133    0.803334
17 anos                                   114    0.688572
9 anos                                     81    0.489249
8 anos                                     62    0.374487
18 anos ou mais                            53    0.320126
Não informado                              17    0.102682

                                              frequencia  percentual
responsáveis_fuma
Nenhum deles                                        8688   52.476444
Pulo no questionário                                4706   28.424740
Só meu pai ou responsável do sexo masculino         1470    8.878956
Só minha mãe ou responsável do sexo feminino         925    5.587098
Meu pai e minha mãe ou responsáveis                  469    2.832810
Não sei                                              268    1.618748
Não informado                                         30    0.181203

                       frequencia  percentual
usou_bebida_alcoolica
Sim                          7078   42.751872
Não                          4747   28.672385
Pulo no questionário         4706   28.424740
Não informado                  25    0.151003

                                                    frequencia  percentual
idade_quando_tomou_a_primeira_dose_de_bebida_al...
Pulo no questionário                                      4706   28.424740
1                                                         4575   27.633486
14 anos                                                   1512    9.132641
13 anos                                                   1318    7.960860
15 anos                                                   1276    7.707176
12 anos                                                    987    5.961585
16 anos                                                    508    3.068374
11 anos                                                    369    2.228799
10 anos                                                    365    2.204639
17 anos                                                    265    1.600628
7 anos ou menos                                            253    1.528147
9 anos                                                     143    0.863735
8 anos                                                     125    0.755013
18 anos ou mais                                            103    0.622131
Não informado                                               51    0.308045

                          frequencia  percentual
sofreu_bullying
Não                             8533   51.540227
Sim                             7584   45.808166
Não sei o que é bullying         387    2.337521
Não informado                     52    0.314086

                                frequencia  percentual
frequência_com_que_se_sente_só
Nunca                                 5805   35.062817
Às vezes                              4580   27.663687
Raramente                             3584   21.647741
Na maioria das vezes                  1601    9.670210
Sempre                                 920    5.556898
Não informado                           66    0.398647

                         frequencia  percentual
quantos_amigos_próximos
3 ou mais amigos              12803   77.331481
2 amigos                       2056   12.418459
1 amigo                         988    5.967625
Nenhum amigo (0)                642    3.877748
Não informado                    67    0.404687

                                           frequencia  percentual
como_classifica_o_proprio_estado_de_saúde
Muito bom                                        6294   38.016429
Bom                                              5820   35.153419
Regular                                          3222   19.461223
Ruim                                              618    3.732786
Muito ruim                                        488    2.947572
Não informado                                     114    0.688572

                                               frequencia  percentual
considera_sua_imagem_corporal_como_sendo_algo
Muito importante                                     7102   42.896835
Importante                                           6604   39.888862
Pouco importante                                     1969   11.892969
Sem importância                                       726    4.385117
Não informado                                         155    0.936216

                                       frequencia  percentual
como_se_sente_em_relação_ao_seu_corpo
Satisfeito(a)                                6920   41.797536
Muito satisfeito(a)                          4608   27.832810
Insatisfeito(a)                              2326   14.049287
Indiferente                                  1807   10.914472
Muito insatisfeito(a)                         714    4.312636
Não informado                                 181    1.093259

               frequencia  percentual
peso_do_aluno
50.0                   73    0.440928
53.5                   67    0.404687
50.2                   66    0.398647
52.5                   65    0.392607
51.9                   65    0.392607
...                   ...         ...
133.1                   1    0.006040
108.0                   1    0.006040
93.6                    1    0.006040
100.4                   1    0.006040
94.2                    1    0.006040

[872 rows x 2 columns]

                 frequencia  percentual
altura_do_aluno
160.0                   197    1.189901
162.0                   164    0.990577
157.0                   155    0.936216
155.0                   154    0.930176
161.0                   153    0.924136
...                     ...         ...
190.1                     1    0.006040
124.1                     1    0.006040
132.9                     1    0.006040
195.3                     1    0.006040
190.4                     1    0.006040

[599 rows x 2 columns]

                                 frequencia  percentual
estado_nutricional_do_estudante
Eutrofia                              11479   69.334380
Sobrepeso                              3028   18.289442
Obesidade                              1514    9.144721
Deficit de peso                         535    3.231457

                    frequencia  percentual
situação_da_escola
Urbana                   15705    94.85987
Rural                      851     5.14013

                                      frequencia  percentual
dependência_administrativa_da_escola
Pública                                    12381   74.782556
Privada                                     4175   25.217444

                                 frequencia  percentual
esfera_administrativa_da_escola
Estadual                               9009   54.415318
Privada                                4175   25.217444
Federal                                3072   18.555207
Municipal                               300    1.812032

In [19]:
dados_selecionados.to_csv(path_or_buf='./dados/PeNSE_2015_AMOSTRA2_JA_SELECIONADA_PARA_ANALISE.csv',index=False)

# Análise dos Dados
---

Grafico tem motivo

Uma tabela pode ser melhor que um gráfico 

Gera a hipótese, faz o código, analise do resultado.

Não testar vários modelos num mesmo modelo. Lucidez na escolha de modelo.

Ser claro com as hipóteses e objetivos.